$primary: #FFA500;
$secondary: #93A9A9; //8b8ca4
$tertiary: #A16939; //b83c51
$dark: #2E2B30; // #1F3538
$light: #F2F6F6; //f3f7f5
$success: #7DAB40;
$info: #252C3A;
$warning: #FB9B08;
$danger: #F44336;
$gray: #554F58;